{% extends 'base.html.twig' %}

{% block title %}Hello ControlController!{% endblock %}

{% block body %}
    {{ parent() }}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <a type="button" class="btn btn-outline-success" href="{{ path('new_control') }}">
                    Create
                </a>

                <div class="row" id="main_content">


                    {% if th_keys|length %}
                        <!-- Table -->
                        <table id='empTable' class='display dataTable'>

                            <thead>
                            <tr>
                                {% for columnProduct in th_keys %}
                                    <th scope="col">{{ columnProduct }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tfoot>
                            {% for columnProduct in th_keys %}
                                <th scope="col">{{ columnProduct }}</th>
                            {% endfor %}
                            </tfoot>

                        </table>
                    {% endif %}

                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('control.min') }}
{% endblock %}
