{% extends 'base.html.twig' %}

{% block title %}Add new control record{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </main>

{% endblock %}
